
/*鍏ㄥ眬*/
body{margin:0px;padding:0px;}

.sidebar-nav {padding: 9px 0;}

/*缂栬緫椤甸潰鐨勮〃鏍兼牱寮�/
.table th{ text-align:right; min-width:60px;}

/*鏌ヨ鏉′欢鍖哄煙*/
.query label{ line-height:28px; height:28px; float:left; text-align:right; padding-right:5px; padding-left:15px;}
.query input{ float:left;}
.query .btn{  float:left; margin-left:20px;}
.query .span1_5{ width:100px;}

/*琛ㄥ崟*/
.myform input[class*="span"], select[class*="span"], textarea[class*="span"], .uneditable-input[class*="span"], label[class*="span"],
.row-fluid input[class*="span"], .row-fluid select[class*="span"], .row-fluid textarea[class*="span"], .row-fluid .uneditable-input[class*="span"],.row-fluid label[class*="span"] {
float: left;
margin-left: 0;
padding:0px 4px;
}
.myform label[class*="span"]
{   
    /*padding-top: 7px; */
}
.myform label{ text-align:right; padding-right:5px; padding-left:15px;padding-top: 5px; vertical-align:middle;}
.myform .row-fluid{margin-bottom:10px;}
.myform .btn{ min-width:88px;}

/*閲嶅啓row-fluid鐨剆pan瀹氫箟*/
.row-fluid .span12 {
  width: 99.99999998999999%;
  *width: 99.99999998999999%;
}
.row-fluid .span11 {
  width: 91.6666666666667%;
  *width: 91.6666666666667%;
}
.row-fluid .span10 {
  width: 83.3333333333333%;
  *width: 83.3333333333333%;
}
.row-fluid .span9 {
  width: 75%;
  *width: 75%;
}
.row-fluid .span8 {
  width: 66.6666666666667%;
  *width: 66.6666666666667%;
}
.row-fluid .span7 {
  width: 58.3333333333333%;
  *width: 58.3333333333333%;
}
.row-fluid .span6 {
  width: 50%;
  *width: 50%;
}
.row-fluid .span5_5 {
  width: 45.8333333333333%;
  *width: 45.8333333333333%;
}
.row-fluid .span5 {
  width: 41.6666666666667%;
  *width: 41.6666666666667%;
}
.row-fluid .span4 {
  width: 33.3333333333333%;
  *width: 33.3333333333333%;
}
.row-fluid .span3 {
  width: 25%;
  *width: 25%;
}
.row-fluid .span2 {
  width: 16.6666666666667%;
  *width: 16.6666666666667%;
}
.row-fluid .span1_5 {
  width: 12.5%;
  *width: 12.5%;
}
.row-fluid .span1 {
  width: 8.33333333333333%;
  *width: 8.33333333333333%;
}
.row-fluid .span0_5 {
  width: 4.16666666666667%;
  *width: 4.16666666666667%;
}


.badge {
  display: inline-block;
  padding: 2px 4px;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #999999;
}


.badge {
  padding-right: 9px;
  padding-left: 9px;
  -webkit-border-radius: 9px;
     -moz-border-radius: 9px;
          border-radius: 9px;
}

.badge:empty {
  display: none;
}

a.badge:hover,
a.badge:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.badge-important {
  background-color: #b94a48;
}

.badge-important[href] {
  background-color: #953b39;
}

.badge-warning {
  background-color: #f89406;
}

.badge-warning[href] {
  background-color: #c67605;
}

.badge-success {
  background-color: #468847;
}

.badge-success[href] {
  background-color: #356635;
}

.badge-info {
  background-color: #3a87ad;
}

.badge-info[href] {
  background-color: #2d6987;
}

.badge-inverse {
  background-color: #333333;
}

.badge-inverse[href] {
  background-color: #1a1a1a;
}




